---
const pageTitle = "About me";

const identity = {
  firstName: "Varginha",
  country: "Brazil",
  occupation: "Blogger",
  hobbies: ["amigo de humano", "blogueiro", "influenciador digital"],
}
const skills = ["et", "varginha", "gente boa"]
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
   
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    
    <h1>{pageTitle}</h1>
    <h2>Meu novo site!</h2>

    <p>Estou trabalhando para você ser meu amigo</p>

    <p>Este site foi feito por um humano gente boa que decidiu nos ajudar!</p>

    <p>Alguns fatos sobre mim:</p>
<ul>
  <li>Meu nome é: {identity.firstName}.</li>
  <li>Eu moro no {identity.country} e trabalho como {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>2 dos meus hobbies são: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  }
</ul>
<p>Minhas habilidades:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>

      <a href="/">Volta meu chapa</a>

  </body>
</html>

