---
import Footer from "./components/Footer.astro";
import Social from "./components/Social.astro";
import Header from "./components/Header.astro";

const pageTitle = "About me";

const identity = {
  firstName: "Varginha",
  country: "Brazil",
  occupation: "Blogger",
  hobbies: ["amigo de humano", "blogueiro", "influenciador digital"],
}
const skills = ["et", "varginha", "gente boa"]

const happy = true; 
const finished = false;
const goal = 3;
const skillColor = "navy";
---
<html lang="en">
  <head>
    <Header />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars="{{skillColor}}">
      h1{
        color: rgb(68, 0, 128);
        font-size: 4rem;
      }
      .skill{
        color: greenyellow;
        font-weight: bold;
      }
      .background-color{
        color:black;
      }
    </style>
  </head>
  <body>
    
    <h1>{pageTitle}</h1>
    <h2>Meu novo site!</h2>

    <p>Estou trabalhando para você ser meu amigo</p>

    <p>Este site foi feito por um humano gente boa que decidiu nos ajudar!</p>

    <p>Alguns fatos sobre mim:</p>
<ul>
  <li>Meu nome é: {identity.firstName}.</li>
  <li>Eu moro no {identity.country} e trabalho como {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>2 dos meus hobbies são: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  }
</ul>
<p>Minhas habilidades:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

{happy && <p>Estou feliz de estar aqui na Terra!</p>}

{finished && <p>Completando minha missão!</p>}

{goal === 3 ? <p>Minha está no terceiro dia.</p> : <p>Talvez antes de 3 dias.</p>}

      <a href="/">Volta meu chapa</a>
    <Footer />
    <footer>
      <p>Cola aqui embaixo e vamos trocar umas ideias meu chapa.</p>
      <Social platform="Reddit" username="hp27"/>
    </footer>
  </body>
</html>

